In [95]:
%matplotlib inline

In [171]:
import numpy as np
import pandas as pd
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from  sklearn.linear_model import LogisticRegression

In [172]:
def generateDataSet(mu1, cov1, mu2,cov2, samples):
    df1 = pd.DataFrame(np.random.multivariate_normal(mu1, cov1, samples), columns=['x1','x2'])
    df1['y'] = 0
    df2 = pd.DataFrame(np.random.multivariate_normal(mu2, cov2, samples), columns=['x1','x2'])
    df2['y'] = 1
    return df1.append(df2,ignore_index=True)

In [173]:
def calculateCoef(model):
    coef = np.squeeze(model.coef_)
    intercept = np.squeeze(model.intercept_)
    return [-coef[0]/coef[1], -intercept/coef[1]]

In [174]:
def generateCoef(mu1, cov1, mu2, cov2):
    lda_coef_df = pd.DataFrame(columns=['slope','intercept'])
    lg_coef_df = pd.DataFrame(columns=['slope', 'intercept'])
    for i in range(100):
        data = generateDataSet(mu1, cov1, mu2,cov2, 1000)
        lda_model = LDA()
        lda_model.fit(data[['x1','x2']], data['y'])
        lda_coef = calculateCoef(lda_model)
        lg_model = LogisticRegression(C=0.1)
        lg_model.fit(data[['x1','x2']], data['y'])
        lg_coef = calculateCoef(lg_model)
        lda_coef_df = lda_coef_df.append({'slope':lda_coef[0], 'intercept':lda_coef[1]}, ignore_index=True)
        lg_coef_df = lg_coef_df.append({'slope':lg_coef[0], 'intercept':lg_coef[1]}, ignore_index=True)
        
    return (lda_coef_df, lg_coef_df)

## Cuando las clases estan muy separadas logistic regression se comporta de forma muy inestable en comparacion con lda. 

La recta teorica dada por bayes es la que tiene intercept 100 y slope -1. Se ve que logistic regression da rectas muy diferentes tener en cuenta que las funciones objetivos de ambos metodos son diferentes.

In [175]:
mu1 = [0,0]
cov1 = [[1, 0], [0, 1]]
mu2 = [100,100]
cov2 = cov1
lda_coef_df, lg_coef_df = generateCoef(mu1,cov1, mu2, cov2)

In [176]:
lg_coef_df.describe()

            slope   intercept
count  100.000000  100.000000
mean    -1.292335   56.311757
std      0.761506   18.915144
min     -4.733750   32.656912
25%     -1.552076   43.465785
50%     -1.112326   52.070747
75%     -0.773682   62.847963
max     -0.333389  143.551195

In [177]:
lg_coef_df.head()

      slope  intercept
0 -1.295941  57.658745
1 -1.999010  73.387018
2 -1.248897  55.678482
3 -2.835495  94.079203
4 -1.551703  62.823849

In [178]:
lda_coef_df.describe()

            slope   intercept
count  100.000000  100.000000
mean    -1.004551  100.226634
std      0.049533    2.476148
min     -1.119632   94.346311
25%     -1.042940   98.656509
50%     -1.001820  100.109590
75%     -0.972692  102.134251
max     -0.888086  105.983983

In [179]:
lda_coef_df.head()

      slope   intercept
0 -0.959731   97.962573
1 -1.095315  104.717128
2 -0.982318   99.113545
3 -1.064728  103.261831
4 -1.069567  103.461660

## Cuando las clases estan mas juntas las rectas de ambos metodos se parecen y logistic regression deja de ser tan inestable

In [180]:
mu1 = [0,0]
cov1 = [[1, 0], [0, 1]]
mu2 = [2,2]
cov2 = cov1
lda_coef_df, lg_coef_df = generateCoef(mu1,cov1, mu2, cov2)

In [181]:
lg_coef_df.head()

      slope  intercept
0 -1.081872   1.969820
1 -0.953089   1.873868
2 -0.952836   1.835157
3 -1.012096   1.815153
4 -0.869757   1.733621

In [182]:
lda_coef_df.head()

      slope  intercept
0 -1.094073   2.093007
1 -1.003404   2.014324
2 -0.912732   1.929314
3 -0.994822   1.945245
4 -0.884262   1.847382

In [183]:
lda_coef_df.describe()

            slope   intercept
count  100.000000  100.000000
mean    -0.996353    1.986820
std      0.063360    0.070239
min     -1.130471    1.842602
25%     -1.040499    1.932652
50%     -0.996295    1.983949
75%     -0.951724    2.042100
max     -0.872267    2.131587

In [184]:
lda_coef_df.describe()

            slope   intercept
count  100.000000  100.000000
mean    -0.996353    1.986820
std      0.063360    0.070239
min     -1.130471    1.842602
25%     -1.040499    1.932652
50%     -0.996295    1.983949
75%     -0.951724    2.042100
max     -0.872267    2.131587