In [2]:
%matplotlib inline

In [10]:
import numpy as np
import pandas as pd

In [21]:
mu1 = [0,0]
cov1 = [[1, 0], [0, 1]]
mu2 = [100,100]
cov2 = cov1

In [34]:
def generateDataSet(mu1, cov1, mu2,cov2, samples):
    df1 = pd.DataFrame(np.random.multivariate_normal(mu1, cov1, samples), columns=['x1','x2'])
    df1['y'] = 1
    df2 = pd.DataFrame(np.random.multivariate_normal(mu2, cov2, samples), columns=['x1','x2'])
    df2['y'] = 0
    return df1.append(df2,ignore_index=True)

In [47]:
data = generateDataSet(mu1, cov1, mu2,cov2, 300)

In [37]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from  sklearn.linear_model import LogisticRegression

In [89]:
def calculateCoef(model):
    coef = np.squeeze(model.coef_)
    intercept = np.squeeze(model.intercept_)
    return [-coef[0]/coef[1], -intercept/coef[1]]

In [90]:
lda_coef_df = pd.DataFrame(columns=['slope','intercept'])
lg_coef_df = pd.DataFrame(columns=['slope', 'intercept'])
for i in range(100):
    data = generateDataSet(mu1, cov1, mu2,cov2, 300)
    lda_model = LDA()
    lda_model.fit(data[['x1','x2']], data['y'])
    lda_coef = calculateCoef(lda_model)
    lg_model = LogisticRegression()
    lg_model.fit(data[['x1','x2']], data['y'])
    lg_coef = calculateCoef(lg_model)
    lda_coef_df = lda_coef_df.append({'slope':lda_coef[0], 'intercept':lda_coef[1]}, ignore_index=True)
    lg_coef_df = lg_coef_df.append({'slope':lg_coef[0], 'intercept':lg_coef[1]}, ignore_index=True)

In [91]:
lg_coef_df.describe()

            slope   intercept
count  100.000000  100.000000
mean    -2.068191   84.974151
std      3.510578   97.643226
min    -26.242371   24.511949
25%     -1.930229   43.484399
50%     -1.104928   57.341449
75%     -0.578302   82.653304
max      0.098522  735.836345

In [92]:
lg_coef_df.head()

      slope  intercept
0 -1.268152  65.661393
1 -0.385106  37.064563
2 -2.696311  98.975239
3 -2.112346  49.255879
4 -1.190064  61.925411

In [93]:
lda_coef_df.describe()

            slope   intercept
count  100.000000  100.000000
mean    -1.011275  100.567535
std      0.091271    4.555125
min     -1.282342   92.376673
25%     -1.058725   97.946030
50%     -1.000362   99.994668
75%     -0.957677  102.904977
max     -0.847896  114.049027

In [94]:
lda_coef_df.head()

      slope   intercept
0 -1.105213  105.314100
1 -1.059323  102.877048
2 -0.971990   98.565808
3 -0.982374   98.942127
4 -0.924218   96.114521